body {
    padding-top: 40px;
    background: #999  center top;
    min-height: 101%;
}

html {
    min-height: 101%;
}

.main-content {
    background-color: #fff;
    -webkit-border-radius: 0 0 12px 12px;
    -moz-border-radius: 0 0 12px 12px;
    border-radius: 0 0 12px 12px;
    -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, .45);
    -moz-box-shadow: 0 2px 4px rgba(0, 0, 0, .45);
    box-shadow: 0 2px 4px rgba(0, 0, 0, .45);
}

.page-header {
    padding: 10px 0;
}

.page-header h1 {
    padding: 10px;
    background: #fff;
    margin: 0;
    background: -moz-linear-gradient(left, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0.5) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right top, color-stop(0%, rgba(255, 255, 255, 1)), color-stop(100%, rgba(255, 255, 255, 0.5))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(left, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0.5) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(left, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0.5) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(left, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0.5) 100%); /* IE10+ */
    background: linear-gradient(left, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0.5) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = '#ffffff', endColorstr = '#80ffffff', GradientType = 1); /* IE6-9 */
}

.content p {
    padding:  0 10px;
}
